$day-size: 100px;
$border-width: 1px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$font-size: 30px;
$hover-color: #ffbfcb;
$default-color: #eee;
$animation-duration: 0.5s;
$calendar-width: $columns * $day-size + ($columns - 1) * $gap + 2 * $padding;
$start-days: (
  'mon': 1,
  'tue': 2,
  'wed': 3,
  'thu': 4,
  'fri': 5,
  'sat': 6,
  'sun': 7,
);
